@model dojoSurvey.Models.Dojo

<div>
    <p>Name: @Model.Name</p>
    <p>Favorite Location: @Model.Location</p>
    <p>Favorite Language: @Model.Language</p>
    @if (@Model.Comment == null){
        <p>No comment was provided</p>
    } else {
        <p>Comment: @Model.Comment</p>
    }
</div>