@model dojoSurvey.Models.Dojo

<div>
    <h1>Submitted Info</h1>
    <table>
        <tr>
            <td>Name:</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>Dojo Location:</td>
            <td>@Model.Location</td>
        </tr>
        <tr>
            <td>Favorite Language:</td>
            <td>@Model.Language</td>
        </tr>
        <tr>
            <td>Comment:</td>
            @{
                if (@Model.Comment == null){
                    <td>There was no comment</td>
                } else {
                    <td>@Model.Comment</td>
                }
            }
        </tr>
    </table>
</div>